
//    Font Family

$primary-font	: 'Maven Pro', sans-serif;
$great-font	: 'Great Vibes', cursive;
$roboto-font	: 'Roboto', sans-serif;

$title-font	: 'Maven Pro', sans-serif;


/*--------------------------- Color variations ----------------------*/

$title-color	: #333333;
$text-color		: #555555;

$white			: #fff;
$black			: #000;



