<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon-->
    <!-- <link rel="shortcut icon" href="img/logo/favicon.png"> -->
    <link rel="shortcut icon" href="img/logo/fav2.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Pixel Store</title>

    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="organic-body">
    <!-- Start Preloader -->
    <div class="preloader">
        <div class="cssload-container">
            <div class="cssload-shaft1"></div>
            <div class="cssload-shaft2"></div>
            <div class="cssload-shaft3"></div>
            <div class="cssload-shaft4"></div>
            <div class="cssload-shaft5"></div>
            <div class="cssload-shaft6"></div>
            <div class="cssload-shaft7"></div>
            <div class="cssload-shaft8"></div>
            <div class="cssload-shaft9"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Strat Header Area -->
    <header class="header-organic-food">
        <div class="default-header">
            <div class="sticky-header">
                <div class="container">
                    <div class="row align-items-center header-middle">
                        <div class="col-md-3 col-6 order-1 order-md-1">
                            <a href="index.html"><img src="img/logo/logo2.png" alt="" class="main-logo img-fluid"></a>
                        </div>
                        <div class="col-lg-6 col-md-7 ml-auto col-12 order-3 order-md-2">
                            <div class="search-bar d-flex">
                                <input class="search-input" type="text" placeholder="Search product here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search product here'">
                                <div class="dropdown custom-categories-dropdown">
                                    <a class="search-dropdown d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All categories<span class="lnr lnr-chevron-down"></span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Laptops & Computers</a>
                                        <a class="dropdown-item" href="#">Cameras & Photography</a>
                                        <a class="dropdown-item" href="#">Smart Phones & Consoles</a>
                                        <a class="dropdown-item" href="#">TV and Audio</a>
                                        <a class="dropdown-item" href="#">Gadgets</a>
                                        <a class="dropdown-item" href="#">Accessories</a>
                                        <a class="dropdown-item" href="#">Printers and Ink</a>
                                        <a class="dropdown-item" href="#">Computer Components</a>
                                        <a class="dropdown-item" href="#">Home Entertainment</a>
                                    </div>
                                </div>
                                <button class="search-submit"><span class="lnr lnr-magnifier"></span></button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 order-2 col-6 order-md-3 d-flex justify-content-end">
                            <p class="m-0 md-down-none free-shiping">Free shipping on $30+ orders</p>
                            <div class="shortcut-icon sticky-shortcut d-flex align-items-center">
                                <div class="single-shortcut">
                                    <span class="lnr lnr-heart"></span>
                                </div>
                                <div class="single-shortcut top-cart mr-0">
                                    <span class="lnr lnr-cart"></span>
                                    <span class="cart-count">06</span>
                                </div>
                                <div class="mini-cart mini-cart-2">
                                    <div class="mini-border"></div>
                                    <div class="total-amount d-flex justify-content-between">
                                        <div class="title">
                                            <h6>My Cart</h6>
                                            <span>(Six items)</span>
                                        </div>
                                        <div class="amount">$1149.00</div>
                                    </div>
                                    <div class="single-cart-item d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct1.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">Z-Wave Motion Sensor</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $189.00 x 1</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="single-cart-item d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct2.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">4 port USB Charger</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $120.00 x 2</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="single-cart-item border-0 d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct3.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">Z-Wave Motion Sensor</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $240.00 x 3</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="proceed-btn"><a href="#" class="view-btn color-2"><span>Proceed to checkout</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom row md-down-none no-gutters align-items-center">
                        <div class="col-lg-8">
                            <nav>
                                <ul class="main-menu">
                                    <li class="drop-menu"><a href="#"><span>Home</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html"><span>Home Organic Food</span></a></li>
                                            <li><a href="01-01-home-electronics.html"><span>Home Electronics</span></a></li>
                                            <li><a href="01-03-home-furniture.html"><span>Home Furniture</span></a></li>
                                            <li><a href="01-04-home-jewellery.html"><span>Home Jewellery</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu"><a href="#"><span>Shop</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="02-01-product-fullwidth-grid.html"><span>Product Full Width Grid</span></a></li>
                                            <li><a href="02-02-product-fullwidth-list.html"><span>Product Full Width List</span></a></li>
                                            <li><a href="02-03-product-leftsidebar-grid.html"><span>Product Left Sidebar Grid</span></a></li>
                                            <li><a href="02-04-product-leftsidebar-list.html"><span>Product Left Sidebar List</span></a></li>
                                            <li><a href="02-05-product-rightsidebar-grid.html"><span>Product Right Sidebar Grid</span></a></li>
                                            <li><a href="02-06-product-rightsidebar-list.html"><span>Product Right Sidebar List</span></a></li>
                                            <li><a href="02-07-product-2col.html"><span>Product 2 Col</span></a></li>
                                            <li><a href="02-08-product-3col.html"><span>Product 3 Col</span></a></li>
                                            <li><a href="02-09-product-4col.html"><span>Product 4 Col</span></a></li>
                                            <li><a href="02-10-product-6col.html"><span>Product 6 Col</span></a></li>
                                            <li><a href="02-11-product-details.html"><span>Product Details</span></a></li>
                                            <li><a href="02-12-product-details-sidebar.html"><span>Product Details Sidebar</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu"><a href="#"><span>Woocommerce</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="03-01-woocommerce-cart.html"><span>Woocommerce Cart</span></a></li>
                                            <li><a href="03-02-woocommerce-checkout.html"><span>Woocommerce Checkout</span></a></li>
                                            <li><a href="03-03-woocommerce-confirmation.html"><span>Woocommerce Confirmation</span></a></li>
                                            <li><a href="03-04-woocommerce-my-account.html"><span>Woocommerce My Account</span></a></li>
                                            <li><a href="03-05-woocommerce-order-tracking.html"><span>Woocommerce Order Tracking</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu"><a href="#"><span>Blog</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="04-01-blog-home.html"><span>Blog Home</span></a></li>
                                            <li><a href="04-02-blog-details.html"><span>Blog Details</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu"><a href="#"><span>Pages</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="05-01-pages-about.html"><span>About Page</span></a></li>
                                            <li><a href="05-02-pages-contact.html"><span>Contact Page</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-lg-4 d-flex justify-content-end">
                            <div class="shortcut-icon d-flex align-items-center">
                                <div class="single-shortcut">
                                    <span class="lnr lnr-envelope"></span>
                                </div>
                                <div class="single-shortcut">
                                    <span class="lnr lnr-phone-handset"></span>
                                </div>
                                <div class="single-shortcut">
                                    <span class="lnr lnr-user"></span>
                                </div>
                                <div class="single-shortcut">
                                    <span class="lnr lnr-layers"></span>
                                </div>
                                <div class="single-shortcut">
                                    <span class="lnr lnr-heart"></span>
                                </div>
                                <div class="single-shortcut top-cart mr-0">
                                    <span class="lnr lnr-cart"></span>
                                    <span class="cart-count">06</span>
                                </div>
                                <div class="mini-cart mini-cart-2">
                                    <div class="mini-border"></div>
                                    <div class="total-amount d-flex justify-content-between">
                                        <div class="title">
                                            <h6>My Cart</h6>
                                            <span>(Six items)</span>
                                        </div>
                                        <div class="amount">$1149.00</div>
                                    </div>
                                    <div class="single-cart-item d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct1.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">Z-Wave Motion Sensor</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $189.00 x 1</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="single-cart-item d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct2.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">4 port USB Charger</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $120.00 x 2</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="single-cart-item border-0 d-flex justify-content-between align-items-center">
                                        <a href="#"><img src="img/electronics/ct3.jpg" alt=""></a>
                                        <div class="middle">
                                            <h5><a href="#">Z-Wave Motion Sensor</a></h5>
                                            <h6><span class="lnr lnr-tag"></span> $240.00 x 3</h6>
                                        </div>
                                        <div class="cross"><span class="lnr lnr-cross"></span></div>
                                    </div>
                                    <div class="proceed-btn"><a href="#" class="view-btn color-2"><span>Proceed to checkout</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catagory-wrap">
            <div class="all-slick">
                <ul class="main-ul">
                    <li class="drop-menu"><a href="#"><span>Home</span></a>
                        <ul class="sub-menu">
                            <li><a href="index.html"><span>Home Organic Food</span></a></li>
                            <li><a href="01-01-home-electronics.html"><span>Home Electronics</span></a></li>
                            <li><a href="01-03-home-furniture.html"><span>Home Furniture</span></a></li>
                            <li><a href="01-04-home-jewellery.html"><span>Home Jewellery</span></a></li>
                        </ul>
                    </li>
                    <li class="drop-menu"><a href="#"><span>Shop</span></a>
                        <ul class="sub-menu">
                            <li><a href="02-01-product-fullwidth-grid.html"><span>Product Full Width Grid</span></a></li>
                            <li><a href="02-02-product-fullwidth-list.html"><span>Product Full Width List</span></a></li>
                            <li><a href="02-03-product-leftsidebar-grid.html"><span>Product Left Sidebar Grid</span></a></li>
                            <li><a href="02-04-product-leftsidebar-list.html"><span>Product Left Sidebar List</span></a></li>
                            <li><a href="02-05-product-rightsidebar-grid.html"><span>Product Right Sidebar Grid</span></a></li>
                            <li><a href="02-06-product-rightsidebar-list.html"><span>Product Right Sidebar List</span></a></li>
                            <li><a href="02-07-product-2col.html"><span>Product 2 Col</span></a></li>
                            <li><a href="02-08-product-3col.html"><span>Product 3 Col</span></a></li>
                            <li><a href="02-09-product-4col.html"><span>Product 4 Col</span></a></li>
                            <li><a href="02-10-product-6col.html"><span>Product 6 Col</span></a></li>
                            <li><a href="02-11-product-details.html"><span>Product Details</span></a></li>
                            <li><a href="02-12-product-details-sidebar.html"><span>Product Details Sidebar</span></a></li>
                        </ul>
                    </li>
                    <li class="drop-menu"><a href="#"><span>Woocommerce</span></a>
                        <ul class="sub-menu">
                            <li><a href="03-01-woocommerce-cart.html"><span>Woocommerce Cart</span></a></li>
                            <li><a href="03-02-woocommerce-checkout.html"><span>Woocommerce Checkout</span></a></li>
                            <li><a href="03-03-woocommerce-confirmation.html"><span>Woocommerce Confirmation</span></a></li>
                            <li><a href="03-04-woocommerce-my-account.html"><span>Woocommerce My Account</span></a></li>
                            <li><a href="03-05-woocommerce-order-tracking.html"><span>Woocommerce Order Tracking</span></a></li>
                        </ul>
                    </li>
                    <li class="drop-menu"><a href="#"><span>Blog</span></a>
                        <ul class="sub-menu">
                            <li><a href="04-01-blog-home.html"><span>Blog Home</span></a></li>
                            <li><a href="04-02-blog-details.html"><span>Blog Details</span></a></li>
                        </ul>
                    </li>
                    <li class="drop-menu"><a href="#"><span>Pages</span></a>
                        <ul class="sub-menu">
                            <li><a href="05-01-pages-about.html"><span>About Page</span></a></li>
                            <li><a href="05-02-pages-contact.html"><span>Contact Page</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
                <div class="col-first">
                    <h1>Product Fullwidth</h1>
                </div>
                <div class="col-second">
                    <p>So you have your new digital camera and clicking away to glory anything and everything in sight.</p>
                </div>
                <div class="col-third">
                    <nav class="d-flex align-items-center justify-content-end">
                        <a href="index.html">Home<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="#">Product Fullwith</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!-- Start Filter Bar -->
    <div class="container">
        <div class="filter-bar d-flex flex-wrap align-items-center">
            <a href="#" class="grid-btn active"><i class="fa fa-th" aria-hidden="true"></i></a>
            <a href="#" class="list-btn"><i class="fa fa-th-list" aria-hidden="true"></i></a>
            <div class="sorting">
                <select>
                    <option value="1">Default sorting</option>
                    <option value="1">Default sorting</option>
                    <option value="1">Default sorting</option>
                </select>
            </div>
            <div class="sorting">
                <select>
                    <option value="1">Show 12</option>
                    <option value="1">Show 12</option>
                    <option value="1">Show 12</option>
                </select>
            </div>
            <p class="mb-0 mr-auto">Showing 1-12 of 57 results</p>
            <div class="pagination">
                <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <a href="#">6</a>
                <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- End Filter Bar -->
    <!-- Start Best Seller -->
    <section class="lattest-product-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p1.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Blueberry</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p2.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Blueberry</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p3.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Blackberry</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                        <div class="discount">60%</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p4.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Redberry</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                        <div class="discount">20%</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p5.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Bell Pepper</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p6.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Cabbages</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p7.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore Cherry Tomatoes</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-organic-product">
                        <img src="img/organic-food/p8.jpg" alt="" class="img-fluid">
                        <h3 class="price">$360.00</h3>
                        <span class="text">Pixelstore fresh Brocoli</span>
                        <div class="bottom d-flex align-items-center">
                            <a href="#"><span class="lnr lnr-heart"></span></a>
                            <a href="#"><span class="lnr lnr-layers"></span></a>
                            <a href="#"><span class="lnr lnr-cart"></span></a>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Best Seller -->
    <!-- Start Filter Bar -->
    <div class="container">
        <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
                <select>
                    <option value="1">Default sorting</option>
                    <option value="1">Default sorting</option>
                    <option value="1">Default sorting</option>
                </select>
            </div>
            <div class="sorting">
                <select>
                    <option value="1">Show 12</option>
                    <option value="1">Show 12</option>
                    <option value="1">Show 12</option>
                </select>
            </div>
            <p class="mb-0 mr-auto">Showing 1-12 of 57 results</p>
            <div class="pagination">
                <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <a href="#">6</a>
                <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- End Filter Bar -->
    <!-- Start Product Carousel Area -->
    <div class="organic-product-area pt-40">
        <div class="container">
            <div class="organic-section-title-left">
                <h3>Featured Products</h3>
                <div class="carousel-trigger">
                    <div class="prev-trigger"><span class="lnr lnr-arrow-left"></span></div>
                    <div class="next-trigger"><span class="lnr lnr-arrow-right"></span></div>
                </div>
            </div>
            <div class="organic-product-carousel organic-custom-trigger">
                <div class="single-organic-product">
                    <img src="img/organic-food/f1.jpg" alt="" class="img-fluid">
                    <h3 class="price">$360.00</h3>
                    <span class="text">Pixelstore fresh piecherry</span>
                    <div class="bottom d-flex align-items-center">
                        <a href="#"><span class="lnr lnr-heart"></span></a>
                        <a href="#"><span class="lnr lnr-layers"></span></a>
                        <a href="#"><span class="lnr lnr-cart"></span></a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                    </div>
                </div>
                <div class="single-organic-product">
                    <img src="img/organic-food/f2.jpg" alt="" class="img-fluid">
                    <h3 class="price">$360.00</h3>
                    <span class="text">Pixelstore fresh Blueberry</span>
                    <div class="bottom d-flex align-items-center">
                        <a href="#"><span class="lnr lnr-heart"></span></a>
                        <a href="#"><span class="lnr lnr-layers"></span></a>
                        <a href="#"><span class="lnr lnr-cart"></span></a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                    </div>
                </div>
                <div class="single-organic-product">
                    <img src="img/organic-food/f3.jpg" alt="" class="img-fluid">
                    <h3 class="price">$360.00 <del>$560.00</del></h3>
                    <span class="text">Pixelstore Cherry Carrots</span>
                    <div class="bottom d-flex align-items-center">
                        <a href="#"><span class="lnr lnr-heart"></span></a>
                        <a href="#"><span class="lnr lnr-layers"></span></a>
                        <a href="#"><span class="lnr lnr-cart"></span></a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                    </div>
                    <div class="discount">60%</div>
                </div>
                <div class="single-organic-product">
                    <img src="img/organic-food/f4.jpg" alt="" class="img-fluid">
                    <h3 class="price">$360.00</h3>
                    <span class="text">Pixelstore fresh Beans</span>
                    <div class="bottom d-flex align-items-center">
                        <a href="#"><span class="lnr lnr-heart"></span></a>
                        <a href="#"><span class="lnr lnr-layers"></span></a>
                        <a href="#"><span class="lnr lnr-cart"></span></a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="lnr lnr-frame-expand"></span></a>
                    </div>
                    <div class="discount">20%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Carousel Area -->

    <!-- Start Most Search Product Area -->
    <section class="section-half">
        <div class="container">
            <div class="organic-section-title text-center">
                <h3>Most Searched Products</h3>
            </div>
            <div class="row mt-30">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp1.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Blueberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp2.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Cabbage</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp3.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Raspberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp4.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Kiwi</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp5.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore Bell Pepper</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp6.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Blackberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp7.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Brocoli</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp8.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Carrot</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp9.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Strawberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp10.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Prixma MG2 Light Inkjet</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp11.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Cherry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="02-11-product-details.html"><img src="img/organic-food/mp12.jpg" alt=""></a>
                        <div class="desc">
                            <a href="02-11-product-details.html" class="title">Pixelstore fresh Beans</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Most Search Product Area -->

    <!-- Start Footer Area -->
    <footer class="organic-footer">
        <div class="container">
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <img src="img/logo/f-logo2.png" alt="">
                            <ul>
                                <li><a href="#">New Season</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Investor relations</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Withdrawal</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5>Simple Shopping</h5>
                            <ul>
                                <li><a href="#">World’s biggest pixel store collections</a></li>
                                <li><a href="#">Delivery only $5</a></li>
                                <li><a href="#">Dispatch within 3-5 days</a></li>
                                <li><a href="#">Payment by credit card</a></li>
                                <li><a href="#">Free Returns</a></li>
                                <li><a href="#">Pixelstore Members (3% Bonus)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5>Online Advice</h5>
                            <ul>
                                <li><a href="#">Size Table</a></li>
                                <li><a href="#">Product Reviews</a></li>
                                <li><a href="#">Material Informations</a></li>
                                <li><a href="#">Size guides</a></li>
                                <li><a href="#">Availability</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5>Customer Service</h5>
                            <ul>
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Tel. (012 34 89 66 321)</a></li>
                                <li><a href="#">Post/Fax</a></li>
                                <li><a href="#">Chat</a></li>
                                <li><a href="#">Your opinions/ideas</a></li>
                                <li><a href="#">Store Finder</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-widget-bottom d-flex flex-wrap justify-content-between mt-30">
                    <div class="left d-flex align-items-center mt-20">
                        <p class="mb-0 mr-10 text-white">We Accept:</p>
                        <img src="img/electronics/ac.png" class="img-fluid" alt="">
                    </div>
                    <div class="right d-flex align-items-center mt-20">
                        <p class="mb-0 mr-10 text-white">Our shipping partners:</p>
                        <img src="img/electronics/ac3.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between flex-wrap">
                <p class="copyright-text">Copyright &copy; 2017 <a href="#">Pixelstore</a> theme demo.
                    <br> All rights reserved.</p>
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Modal Quick Product View -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="container relative">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="product-quick-view">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="quick-view-carousel">
                                <div class="item" style="background: url(img/organic-food/q1.jpg);">

                                </div>
                                <div class="item" style="background: url(img/organic-food/q1.jpg);">

                                </div>
                                <div class="item" style="background: url(img/organic-food/q1.jpg);">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="quick-view-content">
                                <div class="top">
                                    <h3 class="head">Mill Oil 1000W Heater, White</h3>
                                    <div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>
                                    <div class="category">Category: <span>Household</span></div>
                                    <div class="available">Availibility: <span>In Stock</span></div>
                                </div>
                                <div class="middle">
                                    <p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time give you the pleasant warm feeling during the winter.</p>
                                    <a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
                                </div>
                                <div class="bottom">
                                    <div class="color-picker d-flex align-items-center">Color:
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                    </div>
                                    <div class="quantity-container d-flex align-items-center mt-15">
                                        Quantity:
                                        <input type="text" class="quantity-amount ml-15" value="1" />
                                        <div class="arrow-btn d-inline-flex flex-column">
                                            <button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
                                            <button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
                                        </div>

                                    </div>
                                    <div class="d-flex mt-20">
                                        <a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/gmap.js"></script>
    <script src="js/map-init.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>